<ion-view view-title='<img src="img/logo.png" height="50" class="">' hide-back-button='true'>
  <ion-content class="text-center p20" overflow-scroll="true">

    <h3 class="dark fw300 m0">Post to SBFC</h3>
    <p class="dark fw900 mb20 up">Only admins can see this screen.</p>

    <div class="card" style="text-align:left;">
      <div class="list" style="margin: 0 5%;">
        <div class="cropArea ">
          <img-crop
            image="myImage"
            area-type="square"
            result-image="myCroppedImage">
          </img-crop>
        </div>
        <div class="load-image">Select an image file: <input type="file" id="fileInput" accept='image/*' /></div>
        <label class="item item-input item-floating-label title ">
          <span class="input-label" style="color:#51729a;">Post Title</span>
          <input type="text" placeholder="Post Title" ng-model="user.title" required>
        </label>
          <ng-quill-editor
            name="editor1"
            callback="editorCallback(editor, name)"
            ng-model="message"
            translations="translations"
            toolbar="true"
            show-toolbar="showToolbar"
            link-tooltip="true"
            image-tooltip="true"
            toolbar-entries="bold list bullet italic underline align color background link"
            editor-required="true"
            required=""
            read-only="isReadonly()"
            error-class="input-error"
            fontsize-options="fontsizeOptions">
          </ng-quill-editor>
        <ion-item class="">Category:
          <select class="" name="repeatSelect" id="repeatSelect" ng-model="categoryDropDown.selected">
            <option ng-repeat="option in categoryDropDown.categoryOptions" value="{{option.value}}">{{option.name}}</option>
          </select>
        </ion-item>
        <label class="item item-input">
          <span class="input-label">Publish Date</span>
          <input type="date" width="200px" ng-model="user.publish_date" data-date-format="miliseconds" style="width:200px !important;">
        </label>
        <ion-item class="" style="max-width:200px; padding-left:0px;">
          <ion-toggle ng-model="user.published"  toggle-class="toggle">Published</ion-toggle>
        </ion-item>

        <div class="" ng-show="valuationDatePickerIsOpen" style="height: 180px;width: 50px"></div>
      </div>
      <div style="text-align:center;">
        <button class="btn button-positive p20" ng-click="saveData(user,message,myCroppedImage)">Save</button>
        <button class="btn button-warning p20">Cancel</button>
      </div>
      <div class="he20"></div>
    </div>


	<div class="he100"></div>
  </ion-content>
</ion-view>
