<ion-view view-title="Ads">
    <ion-content class="bg-light text-center p20">
        
        
        <img src="img/logo.png" width="90">
            
            <h3 class="dark fw300 m0">Google Admob</h3>
            <p class="dark fw900 mb20 up">to help you get started</p>
            
            <div class="card pb30">
                <div class="item item-divider bg-light">
                    <h2 class="fw300 m0 p10 pt20 text-left">Banner</h2>
                </div>
                <ul class="list">
                    <li class="list-item">
                        <a class="button button-energized up" ng-click="showBanner()">Show Banner ad</a>
                        <a class="button button-energized up" ng-click="hideBanner()">Hide Banner ad</a>
                    </li>
                </ul>
            </div>
            
            <div class="card pb30">
                <div class="item item-divider bg-light">
                    <h2 class="fw300 m0 p10 pt20 text-left">Interstitial</h2>
                </div>
                <ul class="list">
                    <li class="list-item">
                        <a class="button button-energized up" ng-click="showInterstitial()">Show Interstitial ad</a>
                    </li>
                </ul>
            </div>
            
            
            <div class="he50"></div>
            
            </ion-content>

 
</ion-view>
