<ion-view view-title='SBFC Content' hide-back-button=''>
  <ion-content ng-show="userProfile.admin === true || userProfile.expert === true">
    <!-- <a class="button button-block button-positive" href="#/app/add">
      Ask a Question
    </a> -->
    <!-- news sources -->

    <div class="pt20 pb20">
      <h3 class="dark fw300 m0">Post to SBFC</h3>
      <p class="dark fw900 mb20 up">Only admins can see this screen.</p>
    <button class="btn add-button p20" ui-sref="app.add" ng-show="userProfile.admin === true">Add Item</button>
    <div class="filters">
      <label class="item item-input title-filter">
        <div class="input-label">
          Search for a Title
        </div>
        <input type="text" placeholder="Search Titles" ng-model="search.title">
      </label>

      <label class="item item-input item-select category-filter">
        <div class="input-label">
          Filter by Category
        </div>
        <select ng-disabled="userProfile.admin != true" ng-model="select.category">
            <option value="!!">All Categories</option>
            <option ng-selected="userProfile.admin != true" value="ask-an-expert">Ask an Expert</option>
            <option value="baby-photo">Baby Photo of the Month</option>
            <option value="marketplace">Marketplace</option>
        </select>
      </label>
      </div>

		<div class="list content">
		    <a class="item item-avatar bg-white m5 allcontent" ng-repeat="item in articles.slice().reverse() | orderBy: 'publish_date':true | filter:search | filter:select | filter: (userProfile.admin != true  || '') && {category: 'ask-an-expert'}" href="#/app/edit/{{item.$id}}">
		    	<img class="loading" ng-src="{{item.img}}" id="{{item.category}}">
		      <h4 class="fw500 m0 dark pt5"><b>{{item.title}}</b></h4>
          <h4 class="fw500 m0 dark pt5">Category: {{item.category}}</h4>
          <h4 class="fw300 m0 dark" ng-bind="item.publish_date | date : 'MMMM dd, yyyy'">Published Date: {{item.publish_date | date : 'MMMM dd, yyyy'}}</h4>
			    <h4 class="fw300 m0 dark" ng-bind-html="trustedHtml(item.body | limitTo: 116)"></h4>
          <i class="fa fa-check-square {{item.published}}" aria-hidden="true"></i>
		    </a>
		</div>
	</div>

	<div class="he50"></div>

  </ion-content>
</ion-view>
