
<ion-view view-title='<img src="img/logo.png" height="50" class="">'>
  <ion-content>

    <!-- blog post -->

    	<div class="blogPost">
    		<img ng-src="{{selectedArticle.img}}" class="loading img-full" id="{{selectedArticle.category}}">
        <!-- <a href="#/app/edit/{{selectedArticle.$id}}" class="pull-right p20 dark hidden-admin"><i class="fa fa-pencil fa-2x" aria-hidden="true"></i></a> -->
        <h3 class="post-title">{{selectedArticle.title}}</h3>

      </div>
      <div>
        <div class="article-body {{selectedArticle.category}}" style="padding:10px;background-color:#fff;">
          <p class="fw500 dark">Posted on <span class="fw500 m0 dark pt5" ng-bind="selectedArticle.publish_date | date : 'MMMM dd, yyyy'">{{selectedArticle.publish_date | date : 'MMM dd, yyyy'}}</span></p>

          <div class="body" ng-bind-html="trustedHtml(selectedArticle.body)"></div>
        </div>
    		<div class="p20" hidden ng-bind-html="post.content"></div>
    		<div class="" ng-show="selectedArticle.category === 'ask-an-expert'">

        <div class="article-comments">
    		<h4 class="fw300 m0 pb20" ng-show="allComments.length > 0">Comments</h4>
    			<ul>
    				<li class="comment" ng-repeat="comment in allComments track by $index">
    				<h5><a ng-show="userProfile.admin === true" ng-click="removeComment('comment',comment)" style="cursor:pointer;">
              <i class="fa fa-trash energized" aria-hidden="true"></i>
            </a><strong>{{comment.name}}</strong> <span ng-bind="comment.date | date : 'MMM d, y'">Posted on {{comment.date}}</span></h5>

            <p ng-bind="comment.comment" style="margin-bottom: 0;"></p>
						<a class="reply-link" ng-click="replyComment($index)" style="cursor: pointer;">Reply</a>
						<div ng-if="comment.reply" ng-repeat="(key, reply) in comment.reply track by $index" style="width: 88%;margin-left: 38px;margin-bottom: 0;">
							<h5>
                <a ng-show="userProfile.admin === true" ng-click="removeComment('reply',reply, comment.$id, key)" style="cursor:pointer;">
                  <i class="fa fa-trash energized" aria-hidden="true"></i>
                </a>
                <strong>{{reply.name}}</strong> <span ng-bind="reply.date | date : 'MMM d, y'">{{reply.date}}</span></h5>
							<p ng-bind="reply.comment"></p>
							<!-- <a ng-click="replyComment($index)" style="cursor: pointer;">Reply</a> -->
						</div>
						<form ng-if="showReplyBox == $index" ng-hide="repliedToComment" ng-submit="postReplyComment(reply.comment, comment)">
							<label class="item item-input comment">
								<input type="text" placeholder="Write a reply and press enter" data-ng-model="reply.comment" class="replyBox"/>
							</label>
							<!-- <button type="submit">Submit</button> -->
						</form>
    				</li>
    			</ul>
          <hr>
				<form ng-submit="postComment(mainUser.comment)">
					<label class="item item-input comment">
						<input type="textarea" placeholder="Write a comment and press enter" data-ng-model="mainUser.comment"/>
					</label>
					<!-- <button class="btn button-positive p20" type="submit">Send</button> -->
			</form>
      </div>
      </div>

    	</div>
    	<div class="he190">&nbsp;</div>

  </ion-content>
</ion-view>
