<ion-view view-title='<img src="img/logo.png" height="50" class="">'>
  <ion-content>

    <!-- blog post -->
    	<div class="blogPost">
    		<img ng-src="{{selectedArticle.img}}" class="img-full">
    		<h3 class="post-title" style="padding:10px 20px;">{{selectedArticle.title}}</h3>
    		<p class="fw500 m0 dark p20">Posted on <span class="fw500 m0 dark pt5" ng-bind="selectedArticle.publish_date | date : 'MMM dd, yyyy'">{{selectedArticle.publish_date | date : 'MMM dd, yyyy'}}</span></p>
    		<div class="button-bar pl50 pr50">
    			<a class="button button-clear button-positive" ng-click="shareFacebook(post.title, post.attachments[0].url)">
    				<i style="color:#363636;" class="ti-facebook font-xl"></i>
    			</a>
    			<a class="button button-clear button-positive" ng-click="shareTwitter(post.title, post.attachments[0].url)">
    				<i style="color:#363636;" class="ti-twitter font-xl op7"></i>
    			</a>
    			<a class="button button-clear button-calm" ng-click="shareWhatsApp(post.title, post.attachments[0].url)">
    				<i style="color:#363636;" class="fa fa-whatsapp font-xl"></i>
    			</a>
    		</div>
        <div class="card" style="padding:10px 10px;" ng-bind-html="selectedArticle.body">{{selectedArticle.body}}</div>
    		<!-- <div class="p20" ng-bind-html="post.content"></div>
    		<div class="p20">
    		<h4 class="fw300 m0 pb20" ng-show="post.comments != ''">Comments:</h4>
    			<ul>
    				<li ng-repeat="comment in post.comments">
    				<h5>{{comment.author.nickname}}</h5>
    				<p ng-bind-html="comment.content"></p>
    				</li>
    			</ul>
    		</div> -->
    	</div>
    	<div class="he50"></div>

  </ion-content>
</ion-view>

<script>

</script>
