<ion-view view-title='<img src="img/logo.png" height="50" class="">' hide-back-button=''>
  <ion-content>

    <div class="pt20 pb20">
		<h4 class="fw300 m0 p10 pt20">Ask An Expert!</h4> <!-- news feed sources -->
		<div class="list">
		    <a class="item item-avatar bg-white m5" ng-repeat="item in articles.slice().reverse() | filter:{ published: 'true' , category: 'ask-an-expert' }" href="#/app/articleslist/{{item.$id}}">
		    	<img ng-src="{{item.img}}">
		      <h4 class="fw500 m0 dark pt5">{{item.title}}</h4>
          <h4 class="fw300 m0 dark" ng-bind="item.publish_date | date : 'MMMM dd, yyyy'">{{item.publish_date | date : 'MMMM dd, yyyy'}}</h4>
			  <h4 class="fw300 m0 dark" ng-bind-html="item.body | limitTo: 116">{{ item.body }}</h4>
		    </a>
		</div>
    <a ui-sref="app.submit-ask-an-expert">
      <button class="float-btn-right bg-dark button" href="#/app/nhome">
        <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#fff;"></i>
      </button>
    </a>
    <ion-footer-bar align-title="right" keyboard-attach class="bar-clear">

    </ion-footer-bar>
	</div>
	<div class="he50"></div>


  </ion-content>
</ion-view>
