<ion-view view-title='Ask an Expert' hide-back-button=''>
  <ion-content>

    <div class="pt20 pb20">
      <div class="row">
		      <h4 class="fw300 m0 p10 pt20 col">Ask An Expert!</h4> <!-- news feed sources -->
          <span style="text-align:right;">
            <a class="col" ui-sref="app.submit-ask-an-expert">
              <button class="float-btn-right bg-dark button">
                <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#fff;"></i>
              </button>
            </a> <!-- news feed sources -->
          </span>
      </div>
		<div class="list">
		    <a class="item item-avatar bg-white m5" ng-repeat="item in articles.slice().reverse() | filter : getItemsFromThePast(item) | orderBy: 'publish_date':true | filter:{ published: 'true' , category: 'ask-an-expert' } | limitTo:20" href="#/app/articleslist/{{item.$id}}">
		    	<img class="loading-sm" ng-src="{{item.img}}" id="{{item.category}}">
		      <h4 class="fw500 m0 dark pt5">{{item.title}}</h4>
          <h4 class="fw300 m0 dark" ng-bind="item.publish_date | date : 'MMMM dd, yyyy'">{{item.publish_date | date : 'MMMM dd, yyyy'}}</h4>
			  <!-- <h4 class="fw300 m0 dark" ng-bind-html="trustedHtml(item.body | limitTo:10)"></h4> -->
		    </a>
		</div>

	</div>
	<div class="he50"></div>


  </ion-content>
</ion-view>
