<ion-view view-title='Cute Baby Photo' hide-back-button=''>
  <ion-content>
    <!-- <a class="button button-block button-positive" href="#/app/add">
      Ask a Question
    </a> -->
    <!-- news sources -->

    <div class="pt20 pb20">
		<h4 class="fw300 m0 p10 pt20">Cute Baby Photo of the Month</h4> <!-- news feed sources -->
		<div class="list">
		    <a class="item item-avatar bg-white m5" ng-repeat="item in articles.slice().reverse() | filter : getItemsFromThePast(item) | orderBy: 'publish_date':true | filter:{ published: 'true' , category: 'baby-photo' }" href="#/app/articleslist/{{item.$id}}">
		    	<img class="loading-sm" ng-src="{{item.img}}">
		      <h4 class="fw500 m0 dark pt5">{{item.title}}</h4>
          <h4 class="fw300 m0 dark" ng-bind="item.publish_date | date : 'MMMM dd, yyyy'">{{item.publish_date | date : 'MMMM dd, yyyy'}}</h4>
			  <!-- <h4 class="fw300 m0 dark" ng-bind-html="item.body | limitTo: 116">{{ item.body }}</h4> -->
		    </a>
		</div>
	</div>

	<div class="he50"></div>

  </ion-content>
</ion-view>
