<ion-view view-title="Blog">
  <ion-content>

<!-- blog posts -->
	<div class="bg-light pt20 pb20" ng-init="getPosts()">
		<h4 class="fw300 m0 p10 pt20">From the blog</h4> <!-- wordpress feed -->
		<div class="list">
		    <a class="item item-avatar bg-white m5" href="#/app/post/{{item.id}}" ng-repeat="item in posts">
		      <img class="loading" ng-src="{{item.thumbnail}}">
		      <h4 class="fw500 m0 dark pt5">{{item.title}}</h4>
			  <h4 class="fw300 font-xs m0 dark" ng-bind-html="item.excerpt"></h4>
			  <p>in <span class="text-energized">{{item.categories[0].title}}</span> - read more</p>
		    </a>
		</div>
	</div>

	<div ng-show="categShow" class="fixed-bottom z-shi w100 pt30 pb70 bg-energized">
		<a ng-repeat="category in categories" href="#/app/blog/{{category.id}}" class="button button-outline button-light text-white button-round m10">{{category.title}}</a>
	</div>

	<div class="he50"></div>

  </ion-content>
  <div class="bar bar-footer">
  <a class="button button-energized button-clear pull-right" ng-click="showCategories()">Categories</a>
</div>
</ion-view>
