<ion-view view-title='Contact' hide-back-button=''>
  <ion-content>
    <!-- <iframe src="https://calendar.google.com/calendar/embed?src=seacoastbirthandfamily%40gmail.com&ctz=America/New_York" style="border: 0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe> -->
<div class="p20">
	<!-- <h4 class="fw900 m0 dark text-center pt20 pb20">Contact Information</h4> -->
        <!-- .accordion__tab -->
        <div class="">
            <h5 class="bg-light text-dark fw600 p10" ng-click="openTab(0)">Seacoast Birth &amp; Family Connection
              <i class="ti-angle-down inline align-right" ng-hide="isOpenTab(0)"></i>
              <i class="ti-angle-up inline align-right" ng-show="isOpenTab(0)"></i></h5>
            <div class="bg-light animation-show-hide text-dark p20" ng-show="isOpenTab(0)">
              <p><i class="fa fa-laptop" aria-hidden="true"></i><a class="energized" href="#" onclick="window.open('http://www.sbfconnection.com/', '_blank'); return false">  sbfconnection.com</a></p>
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="energized" href="mailto:sbfc@mac-photography.com" target="_blank">  sbfc@sbfconnection.com</a></p>
            </div>
        </div>
        <div class="">
            <h5 class="bg-light text-dark fw600 p10" ng-click="openTab(1)">MAC Photography
            	<i class="ti-angle-down inline align-right" ng-hide="isOpenTab(1)"></i>
            	<i class="ti-angle-up inline align-right" ng-show="isOpenTab(1)"></i></h5>
            <div class="bg-light animation-show-hide text-dark p20" ng-show="isOpenTab(1)">
              <p><i class="fa fa-phone" aria-hidden="true"></i><a class="energized" href="tel:603-964-0060" target="_blank">  603-964-0060</a></p>
              <p><i class="fa fa-laptop" aria-hidden="true"></i><a class="energized" href="#" onclick="window.open('http://www.mac-photography.com/', '_blank'); return false">  mac-photography.com</a></p>
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="energized" href="mailto:portrait@mac-photography.com" target="_blank">  portrait@mac-photography.com</a></p>
            </div>
        </div>
        <!-- .accordion__tab -->
        <div class="">
            <h5 class="bg-light text-dark fw600 p10" ng-click="openTab(2)">Baby Beginnings New England
            	<i class="ti-angle-down inline align-right" ng-hide="isOpenTab(2)"></i>
            	<i class="ti-angle-up inline align-right" ng-show="isOpenTab(2)"></i></h5>
            <div class="bg-light animation-show-hide text-dark p20" ng-show="isOpenTab(2)">
              <p><i class="fa fa-phone" aria-hidden="true"></i><a class="energized" href="tel:978-494-4490" target="_blank">  978-494-4490</a></p>
              <p><i class="fa fa-laptop" aria-hidden="true"></i><a class="energized" href="#" onclick="window.open('http://www.babybeginningsne.com/', '_blank'); return false">  babybeginningsnewengland.com</p>
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="energized" href="mailto:info@babybeginningsNE.com"><span>  info@babybeginningsNE.com</span></a></p>
            </div>
        </div>
        <!-- .accordion__tab -->
        <div class="">
            <h5 class="bg-light text-dark fw600 p10" ng-click="openTab(3)">Diagnostic Ultrasound Suite
            	<i class="ti-angle-down inline align-right" ng-hide="isOpenTab(3)"></i>
            	<i class="ti-angle-up inline align-right" ng-show="isOpenTab(3)"></i></h5>
            <div class="bg-light animation-show-hide text-dark p20" ng-show="isOpenTab(3)">
              <p><i class="fa fa-phone" aria-hidden="true"></i><a class="energized" href="tel:603-767-9736" target="_blank">  603-767-9736</a></p>
              <p><i class="fa fa-laptop" aria-hidden="true"></i><a class="energized" href="#" onclick="window.open('http://ultrasoundsuite.com/', '_blank'); return false">  ultrasoundsuite.com</a></p>
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="energized" href="mailto:Jessica@UltrasoundSuite.com" target="_blank">  Jessica@UltrasoundSuite.com</a></p>
            </div>
        </div>
        <!-- .accordion__tab -->
        <div class="">
            <h5 class="bg-light text-dark fw600 p10" ng-click="openTab(4)">FIT4MOM
              <i class="ti-angle-down inline align-right" ng-hide="isOpenTab(4)"></i>
              <i class="ti-angle-up inline align-right" ng-show="isOpenTab(4)"></i></h5>
            <div class="bg-light animation-show-hide text-dark p20" ng-show="isOpenTab(4)">
              <p><i class="fa fa-phone" aria-hidden="true"></i><a class="energized" href="tel:1-503-502-4695" target="_blank">  603-502-4695</a></p>
              <p><i class="fa fa-laptop" aria-hidden="true"></i><a class="energized" href="#" onclick="window.open('http://seacoast.fit4mom.com', '_blank'); return false">  seacoast.fit4mom.com</a></p>
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="energized" href="mailto:meganthayer@fit4mom.com" target="_blank">  meganthayer@fit4mom.com</a></p>
            </div>
        </div>
        <!-- .accordion__tab -->
        <div class="">
            <h5 class="bg-light text-dark fw600 p10" ng-click="openTab(5)">Seacoast Moms Blog
              <i class="ti-angle-down inline align-right" ng-hide="isOpenTab(5)"></i>
              <i class="ti-angle-up inline align-right" ng-show="isOpenTab(5)"></i></h5>
            <div class="bg-light animation-show-hide text-dark p20" ng-show="isOpenTab(5)">
              <p><i class="fa fa-phone" aria-hidden="true"></i><a class="energized" href="tel:603-767-9736" target="_blank">  802-734-6051</a></p>
              <p><i class="fa fa-laptop" aria-hidden="true"></i><a class="energized" href="#" onclick="window.open('http://seacoast.citymomsblog.com/', '_blank'); return false">  seacoast.citymomsblog.com</a></p>
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="energized" href="mailto:Jessica@UltrasoundSuite.com" target="_blank">  info@seacoastmomsblog.com</a></p>
            </div>
        </div>
        <!-- .accordion__tab -->
        <div class="">
            <h5 class="bg-light text-dark fw600 p10" ng-click="openTab(6)">Dr. Karen Harman Clinical Psychologist
              <i class="ti-angle-down inline align-right" ng-hide="isOpenTab(6)"></i>
              <i class="ti-angle-up inline align-right" ng-show="isOpenTab(6)"></i></h5>
            <div class="bg-light animation-show-hide text-dark p20" ng-show="isOpenTab(6)">
              <p><i class="fa fa-phone" aria-hidden="true"></i><a class="energized" href="tel:603-212-6787" target="_blank">  603-212-6787</a></p>
              <p><i class="fa fa-laptop" aria-hidden="true"></i><a class="energized" href="#" onclick="window.open('http://kbharman.com/', '_blank'); return false">  kbharman.com</a></p>
              <p><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="energized" href="mailto:contact@kbharman.com" target="_blank">  contact@kbharman.com</a></p>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>
