<ion-view view-title='Contraction Timer' hide-back-button=''>
  <ion-content>
 <noscript>Sorry, but this app requires javascript.</noscript>
    <div class="mainarea">

      <p>
        <button id="togglebutton">
          <img id="togglebuttonimage" src="img/start.png" />
        </button>
      </p>

      <div class="timer-info">
        <p><span id="nowtext"></span></p>

        <p><span id="lasttext"></span></p>
      </div>


      <span class="contractions-header">
        <h3>My Contractions</h3>
        <p><span id="contractionlist"></span></p>
      </span>


      <span class="contractions-averages">
        <h3>Running Averages</h3>
        <p>My Twenty Minute Average is <span id="twentyminutetext"></span> (<span id="twentyminutecount"></span> Total)</p>

        <p>My Sixty Minute Average is <span id="sixtyminutetext"></span> (<span id="sixtyminutecount"></span> Total)</p>

        <p>My Twenty Four Hour Average is <span id="twentyfourhourtext"></span> (<span id="twentyfourhourcount"></span> Total)</p>
      </span>

      <p>
        <button id="undobutton">
          <img id="undobuttonimage" src="img/undostart.png" />
        </button>
        <button id="resetbutton">
          <img id="resetbuttonimage" src="img/reset.png" />
        </button>
      </p>
    </div>

    <!-- <div class="contractionlist">
  <h2>My Contractions</h2>
  <p><span id="contractionlist"></span></p>
</div> -->

	<div class="he50"></div>

  </ion-content>
</ion-view>
