<ion-view view-title='My Files' hide-back-button=''>
  <ion-content>
    <!-- <a class="button button-block button-positive" href="#/app/add">
      Ask a Question
    </a> -->
    <!-- news sources -->

    <div class="pt20 pb20">

      <div class="list content">
          <a class="item item-avatar bg-white m5" ng-repeat="user in usersFroFileTransfer | filter:query | filter: {'email' : user} | filter: {'active' : 'true'}" href="#/app/readfolder/{{user.$id}}">
            <img src="img/svg/folder.svg" style="max-width:70px;"></img>
            <h4 class="fw500 m0 dark pt5"><b>{{user.fname}} {{user.lname}}</b></h4>
            <h4 class="fw500 m0 dark pt5">{{user.email}}</h4>
            <ul>
              <li ng-repeat="fle in user.folderArray">
                <img src="{{user.thumbnailImage}}" alt="fle.name" class="imgPreview">
                {{fle.name}}
              </li>
              
            </ul>
          </a>
      </div>
	</div>

	<div class="he50"></div>

  </ion-content>
</ion-view>
