<ion-view view-title='<img src="img/logo.png" height="50" class="">'>
  <ion-content class="bg-light text-center p20">

	<img src="img/ionic.png" width="50">

  <h3 class="dark fw300 m0">Ionic elements</h3>
	<p class="dark fw900 mb20 up">some elements modified to fit this theme</p>

  <div class="card">
    <div class="item item-divider bg-light">
      <h2 class="fw300 m0 p10 pt20 text-left">Floating form labels</h2>
    </div>
    	<div class="list">
  	  <label class="item item-input item-floating-label">
  	    <span class="input-label">First Name</span>
  	    <input type="text" placeholder="First Name">
  	  </label>
  	</div>
  </div>

  <div class="card">
    <div class="item item-divider bg-light">
    	<h2 class="fw300 m0 p10 pt20 text-left">Toggles</h2>
    </div>
  	<ul class="list text-left">
          <li class="item item-toggle">
             HTML5
             <label class="toggle toggle-positive">
               <input type="checkbox" checked="">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             CSS3
             <label class="toggle toggle-calm">
               <input type="checkbox" checked="">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             Java Applets
             <label class="toggle toggle-energized">
               <input type="checkbox">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>
      </div>


      <div class="card">
        <div class="item item-divider bg-light">
          <h2 class="fw300 m0 p10 pt20 text-left">Checkboxes</h2>
        </div>
          <ul class="list text-left">
            <li class="item item-checkbox">
               <label class="checkbox">
                 <input type="checkbox">
               </label>
               Flux Capacitor
            </li>
            <li class="item item-checkbox">
               <label class="checkbox checkbox-energized">
                 <input type="checkbox" checked="">
               </label>
               1.21 Gigawatts
            </li>
            <li class="item item-checkbox checkbox-calm">
               <label class="checkbox">
                 <input type="checkbox">
               </label>
               Delorean
            </li>
          </ul>
      </div>


      <div class="card">
        <div class="item item-divider bg-light">
          <h2 class="fw300 m0 p10 pt20 text-left">Range select</h2>
        </div>
          <div class="list">
            <div class="item range range-positive">
              <i class="ti-car"></i>
              <input type="range" name="volume" min="0" max="100" value="33">
              <i class="ti-truck"></i>
            </div>
          </div>
      </div>

      <div class="he50"></div>

  </ion-content>
</ion-view>
