<ion-view view-title='Welcome!' hide-back-button='true'>

  <ion-content>

	<!-- <div class="" style="height:40px;"></div> -->

	<div class="row">
    <a class="col card text-center p20" href="#/app/marketplace">
			<img src="img/cart.png" style="width:70px;"></img>
			<h4 class="fw300 font-md">Marketplace</h4>
			<!-- <p class="dark">Use the elements and plugins to create the awesomeness</p> -->
		</a>
    <a class="col card text-center p20" href="#/app/ask-an-expert">
			<img src="img/svg/faq.svg" style="max-width:70px;"></img>
			<h4 class="fw300 font-md">Ask an Expert</h4>
			<!-- <p class="dark">Purchase revolution now and start planning your app</p> -->
		</a>
	</div>

  <div class="row">
    <a class="col card text-center p20" href="#/app/home/macphotography">
      <img src="img/svg/old_time_camera.svg" style="max-width:70px;"></img>
      <h4 class="fw300 font-md">MAC Photography</h4>
      <!-- <p class="dark">Use the elements and plugins to create the awesomeness</p> -->
    </a>
    <a class="col card text-center p20" href="#/app/newslist/2">
      <img src="img/smb.jpg" style="max-width:70px;"></img>
      <h4 class="fw300 font-md">Seacoast Moms Blog</h4>
      <!-- <p class="dark">Purchase revolution now and start planning your app</p> -->
    </a>
  </div>

  <div class="row">
    <a class="col card text-center p20" ui-sref="app.image-capture">
      <img src="img/image-capture.png" style="max-width:70px;"></img>
      <h4 class="fw300 font-md">Image Capture</h4>
      <!-- <p class="dark">Use the elements and plugins to create the awesomeness</p> -->
    </a>
    <a class="col card text-center p20" ui-sref="app.contraction-timer">
      <img src="img/time.png" style="max-width:70px;"></img>
      <h4 class="fw300 font-md">Contraction Timer</h4>
      <!-- <p class="dark">Purchase revolution now and start planning your app</p> -->
    </a>
  </div>

  <div class="row">
    <a class="col card text-center p20" href="#/app/dus">
      <img src="img/dus-icon.png" style="max-width:70px;"></img>
      <h4 class="fw300 font-md">Diagnostic Ultrasound Suite</h4>
      <!-- <p class="dark">Use the elements and plugins to create the awesomeness</p> -->
    </a>
    <a class="col card text-center p20" href="#" onclick="window.open('https://calendar.google.com/calendar/embed?showTitle=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=seacoastbirthandfamily%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York', '_blank', 'location=no'); return false;">
      <img src="img/svg/calendar.svg" style="max-width:70px;"></img>
      <h4 class="fw300 font-md">Calendar</h4>
      <!-- <p class="dark">Use the elements and plugins to create the awesomeness</p> -->
    </a>
  </div>

  <div class="row">
    <a class="col card text-center p20" href="#/app/home/maps">
      <img src="img/svg/TreasureMap-96.png" style="max-width:70px;"></img>
      <h4 class="fw300 font-md">Location</h4>
      <!-- <p class="dark">Purchase revolution now and start planning your app</p> -->
    </a>
    <a class="col card text-center p20" style="background-color:transparent; border:1px solid transparent; box-shadow:none;">
      <!-- <img src="img/svg/calendar.svg" style="max-width:70px;"></img> -->
      <h4 class="fw300 font-md"></h4>
      <!-- <p class="dark">Use the elements and plugins to create the awesomeness</p> -->
    </a>
  </div>

	<!-- footer -->
    <div class="footer text-center p30">
    	<img src="img/logo.png" width="120">
    	<p class="stable assertive">Your local guide to the best in pregnancy and beyond in the Seacoast, NH area</p>
    	<div class="text-center">
        <a class="" href="#" onclick="window.open('https://www.facebook.com/SeacoastBirthFamilyConnection/', '_blank', 'location=no'); return false;"><i class="fa fa-facebook fa-2x m10 stable" aria-hidden="true"></i></a>
        <a class="" href="#" onclick="window.open('https://twitter.com/SBFC_NH', '_blank', 'location=no'); return false;"><i class="fa fa-twitter fa-2x m10 stable" aria-hidden="true"></i></a>
          <!-- <a href=""><i class="fa fa-envelope fa-2x m10 stable" aria-hidden="true"></i></a> -->
        <a class="" href="#" onclick="window.open('https://www.instagram.com/sbfconnection/', '_blank', 'location=no'); return false;"><i class="fa fa-instagram fa-2x m10 stable" aria-hidden="true"></i></a>
        <a class="" href="#" onclick="window.open('https://www.pinterest.com/seacoastbirthfa/', '_blank', 'location=no'); return false;"><i class="fa fa-pinterest fa-2x m10 stable" aria-hidden="true"></i></a>
          <!-- <a href=""><i class="fa fa-mobile fa-2x m10 stable" aria-hidden="true"></i></a> -->
        <a href="#/app/home/maps"><i class="fa fa-map-marker fa-2x m10 stable" aria-hidden="true"></i></a>
        </div>
    	<div class="font-xs stable">Copyright <span class="energized fw900">Seacoast Birth & Family Connection</span> 2017</div>
    </div>

    <div class="he50"></div>
  </ion-content>
</ion-view>
