<ion-view view-title='MAC Photography'>

  <ion-content>

	<div class="he5"></div>

	<div class="row">
    <a class="col card text-center p20" href="#/app/babypicture">
      <img src="img/svg/picture.svg" style="max-width:70px;"></img>
			<h4 class="fw300 font-md">Cute Baby Photo of the Month</h4>
		</a>
    <a class="col card text-center p20" href="#/app/videos">
      <img src="img/svg/start.svg" style="max-width:70px;"></img>
			<h4 class="fw300 font-md">Videos</h4>
		</a>
	</div>


  <!-- <div class="p20 dark footer" style="text-align: center;">
    <p><span>Contact MAC Photography&nbsp;</span></p>
    <p><a href="tel:603-964-0060" target="_blank">603-964-0060</a></p>
    <p><a href="http://www.mac-photography.com/" target="_blank">mac-photography.com</a></p>
    <p><a href="mailto:portrait@mac-photography.com" target="_blank">portrait@mac-photography.com</a></p>
  </div> -->


	<!-- footer -->
    <div class=" text-center p30 footer">
    	<img src="img/logo.png" width="120">
    	<p class="dark">We only want to simplify your life, offering top quality products to help you on your way!</p>
    	<div class="text-center">
          <a href="https://www.facebook.com/SeacoastBirthFamilyConnection/"><i class="fa fa-facebook fa-2x m10 stable" aria-hidden="true"></i></a>
          <a href="https://twitter.com/SBFC_NH"><i class="fa fa-twitter fa-2x m10 stable" aria-hidden="true"></i></a>
          <!-- <a href=""><i class="fa fa-envelope fa-2x m10 stable" aria-hidden="true"></i></a> -->
          <a href="https://www.instagram.com/sbfconnection/"><i class="fa fa-instagram fa-2x m10 stable" aria-hidden="true"></i></a>
          <a href="https://www.pinterest.com/seacoastbirthfa/"><i class="fa fa-pinterest fa-2x m10 stable" aria-hidden="true"></i></a>
          <!-- <a href=""><i class="fa fa-mobile fa-2x m10 stable" aria-hidden="true"></i></a> -->
          <a href="https://www.google.com/maps/place/165+Lafayette+Rd,+North+Hampton,+NH+03862/@42.9897841,-70.8221567,17z/data=!3m1!4b1!4m5!3m4!1s0x89e2e9f8ece6178d:0xd482232f2872995d!8m2!3d42.9897841!4d-70.819968"><i class="fa fa-map-marker fa-2x m10 stable" aria-hidden="true"></i></a>
        </div>
    	<div class="font-xs stable dark">Copyright <span class="energized fw900">Seacoast Birth & Family Connection</span> 2017</div>
    </div>


  </ion-content>
</ion-view>
