<ion-view view-title='<img src="img/logo.png" height="50" class="">' hide-back-button='true'>

  <ion-content>

	<div class="he5 bg-light"></div>

	<div class="row">
    <a class="col card text-center p20" href="#/app/news">
      <i class="fa fa-picture-o fa-4x" style="color:#383838;" aria-hidden="true"></i>
			<h4 class="dark fw900">Cute Baby Photo of the Month</h4>
			<!-- <p class="dark">Use the elements and plugins to create the awesomeness</p> -->
		</a>
    <a class="col card text-center p20" href="#/app/videos">
      <i class="fa fa-youtube-play fa-4x" style="color:#383838;" aria-hidden="true"></i>
			<h4 class="dark fw900">Videos</h4>
			<!-- <p class="dark">Purchase revolution now and start planning your app</p> -->
		</a>
	</div>

	<!-- footer -->
    <div class="bg-darker text-center p30">
    	<img src="img/logo.png" width="120">
    	<p class="stable">We only want to simplify your life, offering top quality products to help you on your way!</p>
    	<div class="text-center">
          <a href="https://www.facebook.com/SeacoastBirthFamilyConnection/"><i class="fa fa-facebook fa-2x m10 stable" aria-hidden="true"></i></a>
          <a href="https://twitter.com/SBFC_NH"><i class="fa fa-twitter fa-2x m10 stable" aria-hidden="true"></i></a>
          <!-- <a href=""><i class="fa fa-envelope fa-2x m10 stable" aria-hidden="true"></i></a> -->
          <a href="https://www.instagram.com/sbfconnection/"><i class="fa fa-instagram fa-2x m10 stable" aria-hidden="true"></i></a>
          <a href="https://www.pinterest.com/seacoastbirthfa/"><i class="fa fa-pinterest fa-2x m10 stable" aria-hidden="true"></i></a>
          <!-- <a href=""><i class="fa fa-mobile fa-2x m10 stable" aria-hidden="true"></i></a> -->
          <a href="https://www.google.com/maps/place/165+Lafayette+Rd,+North+Hampton,+NH+03862/@42.9897841,-70.8221567,17z/data=!3m1!4b1!4m5!3m4!1s0x89e2e9f8ece6178d:0xd482232f2872995d!8m2!3d42.9897841!4d-70.819968"><i class="fa fa-map-marker fa-2x m10 stable" aria-hidden="true"></i></a>
        </div>
    	<div class="font-xs stable">Copyright <span class="energized fw900">Seacoast Birth & Family Connection</span> 2017</div>
    </div>


  </ion-content>
</ion-view>
