<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bg-darker shadow-small">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="left">
        <i ng-hide="isActive" class="ti-align-justify text-black font-xl p10" menu-toggle="left"></i>
        <i ng-show="isActive" class="ti-close text-black font-xl p10" menu-toggle="left"></i>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <i ng-hide="isActive" class="ti-bell text-black font-xl p10" menu-toggle="right"></i>
        <i ng-show="isActive" class="ti-close text-black font-xl p10" menu-toggle="right"></i>
      </ion-nav-buttons>

      <ion-tabs class="tabs-balanced tabs-icon-top" ng-show="user != 'Anonymous'">
        <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="app.home"></ion-tab>
        <ion-tab title="Marketplace" icon-on="ion-ios-cart" icon-off="ion-ios-cart-outline" ui-sref="app.marketplace"></ion-tab>
      </ion-tabs>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="bg-darker">
    <ion-header-bar class="bg-dark row row-center">
    <!-- <div class="col col-20">
      <img src="img/user.jpg" width="35" height="35" class="round inline border-xs-white ml10 mt5">
    </div> -->
    <div class="col">
      <h5 class="light fw300 pl10 m0 inline">{{user}}</h5>
    </div>
    <div class="col text-right">
      <a class="ti-settings light font-xl pr10" ng-click="getUserProfile(userUid)" ng-show="user != 'Anonymous'" menu-close></a>
      <!-- <a class="ti-share-alt light font-xl pr20" ng-click="logout()" ng-show="user != 'Anonymous'"></a> -->
      <a class="ti-share light font-xl pr10" href="#/app/login" ng-show="user == 'Anonymous'" menu-close></a>
    </div>

    </ion-header-bar>
    <ion-content class="">
      <ion-list>
        <ion-item menu-close href="#/app/home" class="border-b-xs">
          Home
        </ion-item>
        <!-- <ion-item menu-close href="#/app/news" class="border-b-xs">
          News Feed
        </ion-item> -->
        <ion-item menu-close href="#/app/marketplace" class="border-b-xs">
          Marketplace
        </ion-item>
        <ion-item menu-close enable-menu-with-back-views="false" href="#/app/ask-an-expert" class="border-b-xs">
          Ask an Expert
        </ion-item>
        <ion-item menu-close class="border-b-xs">
          <a href="#/app/home/macphotography">MAC Photography</a>
        </ion-item>
        <ion-item   class="border-b-xs">
          <a menu-close href="#/app/newslist/2">Seacoast Moms Blog</a>
        </ion-item>
        <!-- <ion-item menu-close href="#/app/firebase" class="border-b-xs">
          Firebase
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/chat" class="border-b-xs">
          Chat
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/videos" class="border-b-xs">
          Videos
        </ion-item> -->
        <ion-item menu-close href="#/app/home/maps" class="border-b-xs">
          Location
        </ion-item>
        <!-- <ion-item menu-close href="https://www.google.com/maps/place/165+Lafayette+Rd,+North+Hampton,+NH+03862/@42.9897841,-70.8221567,17z/data=!3m1!4b1!4m5!3m4!1s0x89e2e9f8ece6178d:0xd482232f2872995d!8m2!3d42.9897841!4d-70.819968" class="border-b-xs">
          Location
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/elements" class="order-b-xs">
          Elements
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/plugins" class="border-b-xs">
          Plugins
        </ion-item> -->
        <ion-item menu-close href="#/app/home/calendar" class="border-b-xs">
          Calendar
        </ion-item>
        <ion-item menu-close href="#/app/home/contact" class="border-b-xs">
          Contact
        </ion-item>
        <!-- <ion-item menu-close href="#/app/admob" class="border-b-xs">
          Ads
        </ion-item> -->
        <!-- <ion-item menu-close href="#/app/add" class="border-b-xs hidden-admin">
          Post
        </ion-item> -->
        <ion-item menu-close href="#/app/questions" class="border-b-xs hidden-admin">
          Submitted Questions
        </ion-item>
        <ion-item menu-close href="#/app/allcontent" class="border-b-xs hidden-admin">
          Content Management
        </ion-item>
        <ion-item menu-close ng-click="logout()" ng-show="user != 'Anonymous'" class="border-b-xs">
          Log Out
        </ion-item>
        <!-- <ion-item menu-close href="#/app/login" ng-show="user == 'Anonymous'" class="border-b-xs">
          Log In
        </ion-item> -->
      </ion-list>
      <div class="he50"></div>
    </ion-content>

    <div class="bar bar-footer bg-dark">
      <div class="title font-xs text-left">Copyright <span class="fw900">Seacoast Birth & Family Connection</span> 2017</div>
    </div>
  </ion-side-menu>

  <ion-side-menu side="right" class="bg-darker">
    <ion-header-bar class="bg-dark">
      <h5 class="light fw300 pl10">Notifications</h5>
      <div class="w100 pt10 pr10 text-right">
        <i class="ti-trash light font-xl ml20" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></i>
        <i class="ti-layout-list-thumb light font-xl ml20" ng-click="data.showDelete = false; data.showReorder = !data.showReorder"></i>
      </div>
    </ion-header-bar>
    <ion-content class="">
      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

        <ion-item ng-repeat="item in notifications" item="item" class="item-remove-animate item-avatar border-b-xs">
          <!-- <img src="img/users/{{item.img}}"> -->
      <h3 class="light m0 fw300">{{item.user}}</h3>
      <p class="light m0">{{item.text}}</p>
          <ion-delete-button class="ion-minus-circled"
                             ng-click="onItemDelete(item)">
          </ion-delete-button>
          <ion-option-button class="button-energized"
                             ng-click="onItemDelete(item)">
            <i class="ti-trash font-xxl"></i>
          </ion-option-button>
          <ion-option-button class="button-positive"
                             ng-click="edit(item)">
            <i class="ti-ink-pen font-xxl"></i>
          </ion-option-button>
          <ion-option-button class="button-calm"
                             ng-click="share(item)">
            <i class="ti-share font-xxl"></i>
          </ion-option-button>
          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

      </ion-list>
      <div class="he50"></div>
    </ion-content>
    <div class="bar bar-footer bg-dark">
      <div class="title font-xs text-left">Copyright <span class="fw900">Seacoast Birth & Family Connection</span> 2017</div>
    </div>
  </ion-side-menu>

</ion-side-menus>
