<ion-view view-title="{{source.title}}">
  <ion-content>

    <!-- news feed -->

    <!-- <div class="item item-avatar bg-white m5">
		    	<img ng-src="{{source.img}}">
		      <h4 class="fw500 m0 dark pt5">{{source.title}}</h4>
			  <h4 class="fw300 m0 dark">{{source.description}}</h4>
		    </div> -->

	<div class="bg-light pt20 pb20"> <!-- news feed list for selected source -->
		<div class="list">
		    <a class="item bg-white m5" ng-click="openUrl(item.link)">
		      <h4 class="fw500 m0 dark pt5">{{news.title}}</h4>
			  <div ng-bind-html="news.message"></div>
			  <div class="row p0">
			  	<div class="col pl0">
			  		<p class="fw300 m0 dark">{{news.author}}</p>
			  	</div>
			  	<div class="col pr0 text-right">
			  		<p class="fw300 m0 dark">{{news.publish_date || news.date | limitTo:16}}</p>
			  	</div>
			  </div>
		    </a>
		</div>
	</div>

	<div class="he50"></div>

  </ion-content>
</ion-view>
