<ion-view view-title="Plugins">
  <ion-content class="bg-light text-center p20">


  <img src="img/logo.png" width="90">

  <h3 class="dark fw300 m0">Plugin elements</h3>
  <p class="dark fw900 mb20 up">carefully choosed for your new app</p>

  <div class="card pb30">
    <div class="item item-divider bg-light">
      <h2 class="fw300 m0 p10 pt20 text-left">Toast message</h2> 
    </div>
    <ul class="list">
      <li class="list-item">
        <a class="button button-energized up" ng-click="showToast()">Show toast message</a>
      </li>
    </ul>
  </div>

  <div class="card pb30">
    <div class="item item-divider bg-light">
      <h2 class="fw300 m0 p10 pt20 text-left">Rate my app</h2> 
    </div>
    <ul class="list">
      <li class="list-item">
        <a class="button button-energized up" ng-click="showApprate()">Show rate dialog</a>
      </li>
    </ul>
  </div>

  <div class="card pb30">
    <div class="item item-divider bg-light">
      <h2 class="fw300 m0 p10 pt20 text-left">Barcode scanner</h2> 
    </div>
    <ul class="list">
      <li class="list-item">
        <a class="button button-energized up" ng-click="showBarcode()">Show barcode scanner</a>
      </li>
    </ul>
  </div>

  <div class="card pb30">
    <div class="item item-divider bg-light">
      <h2 class="fw300 m0 p10 pt20 text-left">Device info</h2> 
    </div>
    <ul class="list">
      <li class="list-item">
        <a class="button button-energized up" ng-click="showDeviceinfo()">Show device info</a>
      </li>
    </ul>
  </div>


  <div class="he50"></div>

  </ion-content>
</ion-view>