<ion-view view-title="Questions">

  <ion-content class="p20" ng-show="userProfile.expert === true">
    <h3>Submitted Questions</h3>
    <ul>
      <li ng-repeat="question in messages.slice().reverse()" class="text-left question-card">
        <div class="card" style="padding:10px 10px;">

          <p>Submitted on {{question.date}}</p>
          <h4>Submitted by {{question.email}}</h4>
          <p>{{question.question}}</p>
          <span class="questions-actions">
              <a class="add-question" href="/#/app/add?target={{question.question}}&category=ask-an-expert&published=true">
              <i class="fa fa-plus energized" aria-hidden="true"></i> Respond to this question
              </a>
              <a class="add-question" href="mailto:{{question.email}}?Subject=Your%20SBFC%20Question&body=Your%20Question:%20{{question.question}}" target="_top">
              <i class="fa fa-envelope energized" aria-hidden="true"></i> Email this person
              </a>
              <a class="add-question" ng-click="messages.$remove(question)" style="color:red;">
              <i class="fa fa-trash" style="color:red;" aria-hidden="true"></i> Delete this question
              </a>
          </span>
        </div>


        <!-- <div class="list">
    		    <div class="item bg-white m5">
    		      <h4 class="fw500 dark">{{question.question}}</h4>
              <h4 class="fw300 m0 dark" ng-bind="item.publish_date | date : 'MMMM dd, yyyy'">{{question.date | date : 'MMMM dd, yyyy'}}</h4>
    			  <h4 class="fw300 m0 dark" ng-bind-html="item.body | limitTo: 116">{{ question.author }}</h4>
            <a ng-click="messages.$remove(question)" class="absolute z-shi pt10"><i class="ti-trash energized"></i></a>
          </div>
    		</div> -->
        <!-- <div class="list">
    		<label class="item item-input card">
            <p>{{question.question}}</p>
        		<input disabled type="text" ng-model="question.question" ng-change="questions.$save(question)" class="p10" />
        	</label>
        </div> -->
      </li>
    </ul>
    <!-- push a new message onto the array -->

      <div class="he50"></div>

  </ion-content>
</ion-view>
