<ion-view view-title="Register" hide-nav-bar="true">

  <!-- animated background -->
  <!-- <div class="img-cover z-lo">
      <img src="img/animated-bg1.gif">
  </div> -->

  <ion-content>

	<div class="relative z-hi text-center p20 pt70 ml40 mr40 pb70">
		<h1 class="fw300 m0 dark">Join</h1>
		<h4 class="fw300 m0 light"><img src="img/logo.png" style="max-width:500px; width:100%;"></h4>
		<div class="list list-inset">
          <label class="item item-input input-transparent">
              <input type="text" placeholder="Name" ng-model="name">
          </label>
          <label class="item item-input input-transparent">
              <input type="email" placeholder="Email" ng-model="email">
          </label>
          <label class="item item-input input-transparent mt10">
              <input type="password" placeholder="Password" ng-model="password">
          </label>
          <label class="item item-input input-transparent mt10">
              <input type="tel" placeholder="Phone" ng-model="phone">
          </label>
      </div>
      <div class="p10">
        <button class="button button-block button-energized up" ng-click="register(email, password, phone, name)">Register</button>
        <p class="dark mt30">Already have an account?</p>
        <a class="button button-outline button-dark button-block up" href="#/app/login">Login</a>
        </div>
	</div>


  </ion-content>
</ion-view>
