<ion-view view-title='<img src="img/logo.png" height="50" class="">'>
  <ion-content style="  background-color: #fff;">

	<div class="ask-an-expert-input">
    <textarea type="text" required placeholder="Type your question here..." ng-model="newMessageText" rows="10"></textarea>
	</div>
  <a ng-click="addMessage(newMessageText)" ui-sref="app.ask-an-expert">
    <button class="float-btn-right bg-dark button">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </a>
	   <div class="he50"></div>
  </ion-content>

</ion-view>
