<ion-view view-title='Ask an Expert' hide-back-button=''>
  <ion-content style="  background-color: #fff;">

	<div class="ask-an-expert-input">
    <textarea type="text" required placeholder="Type your question here..." ng-model="newMessageText" rows="10"></textarea>
	</div>
  <div class="button-bar">
    <a class="button button-clear"> </a>
    <a class="button button-clear"> </a>
    <a class="button button-energized float-btn-right" ng-click="addMessage(newMessageText)" ui-sref="app.ask-an-expert"><i class="fa fa-plus" aria-hidden="true"></i></a>
  </div>
	   <div class="he50"></div>
  </ion-content>

</ion-view>
