/* Empty. Add your own CSS if you like */
ion-content {
  max-width: 750px;
  margin: auto;
}

.btn {
  border-radius: 0px;
  font-size: 16px;
  text-transform: uppercase;
  border:0px solid transparent;
  margin: 0 5px;
  padding: 5px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.button-positive {
  background-color: #C7D1DD;
  color: #fff;
}

.button-warning {
  background-color: #F0B898;
  color: #fff;
}

.btn:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

.color-primary-0 { color: #C7D1DD }	/* Main Primary color */
.color-primary-1 { color: #FEFEFE }
.color-primary-2 { color: #EBEEF3 }
.color-primary-3 { color: #99AABF }
.color-primary-4 { color: #68809D }

.color-secondary-1-0 { color: #FFF9E3 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #FFFDF6 }
.color-secondary-1-3 { color: #FFF3C8 }
.color-secondary-1-4 { color: #F0DD98 }

.color-secondary-2-0 { color: #FFEDE3 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #FFF9F6 }
.color-secondary-2-3 { color: #FFDCC8 }
.color-secondary-2-4 { color: #F0B898 }

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  max-width:550px;
  height:550px;
  margin:20px auto;
}

/*h3.post-title {
  background-color: #eee !important;
  padding: 10px;
  color: #fff;
}*/

.row {
  margin:auto 0px !important;
}

.float-btn-right {
  z-index: 999;
  position:fixed;
  right:0;
  bottom:0;
  margin: 0 20px 20px 0;
  height: 60px;
  width: 60px;
  border-radius: 45px;
}

.float-btn-right .fa {
  color: #fff;
  font-size: 35px;
  margin: 10px 0 0 0;
}

.ask-an-expert-input {
  background-color: #fff;
}

.ask-an-expert-input textarea {
  font-size: 17px;
  padding: 15px 40px 0 15px;
  width:110%;
}

span.questions-actions {
  text-align: right;
  right: 0;
  margin-right:10px;
  position: absolute;
}

span.questions-actions a {
  margin: 40px 0px;
  padding: 10px 10px;
  cursor: pointer;
}

.load-image input {
  width: 100%;
  color:#fff;
}

@media screen and (max-width: 880px) {
    .hidden-admin {
        display: none !important;
    }
}

.card, .wrapping-list  {
    overflow: initial;
    white-space: initial;
}

.advanced-wrapper {
  border: 2px solid #51729A;
  margin: 20px 0 0 0;
}

.ql-toolbar {
  background-color: #eee;
}

.ql-editor {
  border:none;
  min-height: 200px;
}

.category-select {
    padding: 0;
    margin: 20px 0;
    overflow: hidden;
    background-color: #fff;
    width: 400px;
}

.category-select:hover {
    background: #fff url("/img/arrowdown.gif") no-repeat 90% 50%;
}

.category-select select {
    padding: 5px 8px;
    width: 300px;
    color: #51729A;
    font-size:16px;
    border: none;
    border-bottom: 2px solid #51729A;
    border-radius: 0px;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;

}

input.date-picker {
  max-width: 300px;
  padding-right: 0px !important;
  border-bottom:2px solid #51729A;
  font-size: 16px;
  color: #51729A;
  margin: 0px 0 0 10px;
}

.wp-list h2 {
  font-size: 12px;
  padding-bottom: 25px;
  display: block;
}

.wp-list img {
  /*height: 60px;
  width: 60px;*/
  width: 100%;
  /*border-radius: 45px;*/
}

.wp-list p:nth-child(1) {
  float: left !important;
  width: 100% !important;
  display: block;
  margin-top: 10px;
}

.wp-list p:nth-child(2) {
  float: left !important;
  width: 100% !important;
  display: block;
}

.list a i {
  top: 0;
  position: absolute;
  right: 0;
  margin: 10px 10px 0 0;
  font-size: 30px;
  color: #eee;
}

.list a i.true {
  color: #2ecc71;
}

.list a i.false {
  color: #eee;
}

.add-button {
  background-color: #2ecc71;
  color: #fff;
  top: 10px;
  position: absolute;
  right: 0;
}
